/* Small devices */

@media (max-width: 415px) {




h1 { font-size: 2em; }
h2 { font-size: 20px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }


.tabs a {font-size: 12px;}











}