/* Medium devices (tablets 416 to 950 pixels) */


@media (min-width:415px) and (max-width:950px) {
    
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
  
/* .banner {
  height: 480px;
  padding: 200px 0;  
} */
  
.tabs a {font-size: 14px;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}