/* Extra large devices (large desktops, 1200px and up) */

@media (min-width:1601px) and (max-width:3840px) {





h1 { font-size: 5em; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }


.tabs a {font-size: 18px;}














  
}