body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/OpenSans/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/OpenSans/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/OpenSans/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}



h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif; }

h1 { font-size: 38px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }

/* Make images to keep proportion */
img { max-width: 100%; }

.nav { display: block; }

nav img {
  width: 180px;
}

a { color: #F47B39;}
a:hover { color: #F8935A;}
a.is-active { color: #F8935A;}

.content { padding: 10px 15px 50px 15px; }

.footer {
  background-color: #333031;
  color: aliceblue;
  padding: 40px 0 30px 0;
}



/* TABS starts */

div.tabs { margin: 1em 0; }

ul.tabs {
  list-style: none;
  margin: 0 0 0.5em;
  padding: 0;
}

.tabs > li {
  display: inline-block;
  margin-right: 0.3em; /* LTR */
}

[dir="rtl"] .tabs > li {
  margin-left: 0.3em;
  margin-right: 0;
}

.tabs a {
  display: block;
  padding: 0.2em 1em;
  text-decoration: none;
}

.tabs a.is-active { background-color: #eee; }

.tabs a:focus,
.tabs a:hover {
  background-color: #f5f5f5;
}

/* TABS ends */


/* BLOCKQUOTE starts */

blockquote {
  font-size: 1.4em;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #ededed ;
  line-height:1.6;
  position: relative;
  background:#fafafa;
}

blockquote::before {
  content: "\201C";
  color:#F47B39;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
  text-align: right;
}

/* BLOCKQUOTE ends */

/* user-login-form */

.user-login-form,
.user-form,
.user-pass{
  max-width: 650px;
  margin: 40px auto;
  border: 1px solid #ddd;
  padding: 10px 30px;
  background: #FBFBFB;
}

.user-login-form .form-text,
.user-login-form .form-email,
.user-form .form-text,
.user-form .form-email,
.user-pass .form-text{
  width: 100%;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 11px;
  color: #999;
  font-style: italic;
}

/* user-login-form ends */

/* Styles */

.banner {
  background-color: #333031;
  color: #fff;
  padding: 120px 0;
  text-align: center;
}

.paragraph--type--paronecol {
  padding: 60px 0;
}
.paragraph--type--partwocol {
  padding: 60px 0;
}
.paragraph--type--parthreecol {
  padding: 60px 0;
}
/* Styles */